@charset "UTF-8";
/*  VARIABLES
    ---------------------------------------------------------*/
/*  IMPORTS
    ---------------------------------------------------------*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham-Light.otf');
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.otf');
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.otf');
}
/*  SPRITES
    ---------------------------------------------------------*/
.cvg {
  background-image: url('../img/cvg.png');
  background-repeat: no-repeat;
  display: block;
}
.cvg.iconsmenu {
  width: 61px;
  height: 62px;
  margin: 4px auto;
}
.cvg.iconsmenu.home {
  background-position: -15px -105px;
}
.cvg.iconsmenu.home:hover,
.cvg.iconsmenu.home.active {
  background-position: -17px -183px;
}
.cvg.iconsmenu.roteiros {
  background-position: -389px -106px;
}
.cvg.iconsmenu.roteiros:hover,
.cvg.iconsmenu.roteiros.active {
  background-position: -110px -182px;
}
.cvg.iconsmenu.cadastroag {
  background-position: -12px -447px;
}
.cvg.iconsmenu.cadastroag:hover,
.cvg.iconsmenu.cadastroag.active {
  background-position: -75px -447px;
}
.cvg.iconsmenu.docs {
  background-position: -296px -105px;
}
.cvg.iconsmenu.docs:hover,
.cvg.iconsmenu.docs.active {
  background-position: -298px -183px;
}
.cvg.iconsmenu.contatos {
  background-position: -482px -105px;
}
.cvg.iconsmenu.contatos:hover,
.cvg.iconsmenu.contatos.active {
  background-position: -484px -183px;
}
.cvg.iconsmenu.bancolaminas {
  background-position: -576px -105px;
}
.cvg.iconsmenu.bancolaminas:hover,
.cvg.iconsmenu.bancolaminas.active {
  background-position: -578px -183px;
}
.cvg.iconsmenu.icoquemsomos {
  background-position: -576px -105px;
}
.cvg.iconsmenu.icoquemsomos:hover,
.cvg.iconsmenu.icoquemsomos.active {
  background-position: -391px -183px;
}
.cvg.chevron-right-submit {
  background-position: -656px -115px;
  width: 9px;
  height: 12px;
  padding: 0;
}
.cvg.iconnews {
  background-position: -286px -3px;
  width: 61px;
  height: 61px;
  float: left;
  position: relative;
  top: -30px;
  margin-left: 58px;
  border: 5px solid #FFF;
  border-radius: 100%;
}
.cvg.iconsubmitnews {
  background-position: -666px -110px;
  width: 21px;
  height: 21px;
}
.cvg.fone {
  background-position: -444px -11px;
  width: 38px;
  height: 38px;
  float: left;
}
.cvg.setagray {
  background-position: -709px -113px;
  width: 12px;
  height: 19px;
  float: left;
  margin-top: 8px;
}
.cvg.logofrtbase {
  background-position: -672px -148px;
  width: 85px;
  height: 25px;
  margin: 18px auto 0;
}
.cvg.menuresultcvg {
  width: 78px;
  height: 78px;
  margin: 0 auto;
}
.cvg.menuresultcvg.aereo {
  background-position: -10px -367px;
}
.cvg.menuresultcvg.aereo:hover,
.cvg.menuresultcvg.aereo.active {
  background-position: -10px -257px;
}
.cvg.menuresultcvg.hotel {
  background-position: -100px -367px;
}
.cvg.menuresultcvg.hotel.active {
  background-position: -100px -257px;
}
.cvg.menuresultcvg.servicos {
  background-position: -190px -367px;
}
.cvg.menuresultcvg.servicos.active {
  background-position: -190px -257px;
}
.cvg.menuresultcvg.orcamento {
  background-position: -277px -367px;
}
.cvg.menuresultcvg.orcamento.active {
  background-position: -277px -257px;
}
.cvg.menuresultcvg.setapont {
  background-position: -378px -257px;
  width: 136px;
  margin: 0 9px;
}
.cvg.iconlist {
  background-position: -672px -172px;
  width: 36px;
  height: 36px;
  float: left;
}
.cvg.setaazul {
  background-position: -672px -211px;
  width: 22px;
  height: 21px;
  position: absolute;
  top: 105px;
}
.cvg.starlarge {
  width: 37px;
  height: 38px;
  float: left;
}
.cvg.starlarge.star {
  background-position: -495px 2px;
}
.cvg.starlarge.starempty {
  background-position: -495px -52px;
}
.cvg.starsmall {
  width: 27px;
  height: 30px;
  float: left;
}
.cvg.starsmall.star {
  background-position: -556px -58px;
}
.cvg.starsmall.starempty {
  background-position: -582px -58px;
}
.cvg.iconmapa {
  background-position: -736px -180px;
  width: 20px;
  height: 20px;
}
.cvg.pasta {
  background-position: -595px -8px;
  width: 33px;
  height: 30px;
  float: left;
  margin: 6px;
}
.cvg.pessoas {
  background-position: -550px -8px;
  width: 33px;
  height: 30px;
  float: left;
  margin: 7px;
}
.cvg.seta-azul-clara {
  background-position: -643px -13px;
  width: 29px;
  height: 17px;
  position: absolute;
  top: 40px;
  left: 15px;
}
.cvg.contato {
  background-position: -681px -8px;
  width: 33px;
  height: 30px;
  float: left;
  margin: 7px;
}
.cvg.cvg-documento {
  background-position: -681px -8px;
  width: 33px;
  height: 30px;
  float: left;
  margin: 7px;
}
.cvg.cvg-orcamento {
  background-position: -681px -8px;
  width: 33px;
  height: 30px;
  float: left;
  margin: 7px;
}
.cvg.cvg-baixar {
  background-position: -661px -58px;
  width: 33px;
  height: 30px;
  float: left;
  margin: 0px;
}
.cvg.cvg-acessar {
  background-position: -693px -58px;
  width: 33px;
  height: 30px;
  float: left;
  margin: 0px;
}
.cvg.camera {
  background-position: -728px -8px;
  width: 33px;
  height: 30px;
  float: left;
  margin: 3px 6px 6px 6px;
}
.cvg.camera-rosa {
  background-position: -771px -19px;
  width: 26px;
  height: 19px;
  float: left;
  margin-left: 5px ;
  margin-right: 5px ;
  margin-top: 2px;
}
.form-control:focus {
  border-color: #fff;
  -webkit-box-shadow: 0 0 8px rgba(52, 51, 51, 0.6);
  -moz-box-shadow: 0 0 8px rgba(52, 51, 51, 0.6);
  box-shadow: 0 0 8px rgba(52, 51, 51, 0.6);
}
form label {
  font-weight: 400;
}
.btn {
  border: 0px;
  border-radius: 0px;
  margin-top: 23px;
  background: transparent;
  height: 31px;
  padding: 0;
  float: left;
}
.btn p {
  background-color: #fcb040;
  color: #fff;
  font: 1.7rem 'Gotham-Book', 'verdana';
  float: left;
  margin: 0;
  padding: 6px 7px;
}
.btn span {
  float: left;
  background-color: #3B3C3D;
  padding: 18px;
}
.btn .glyphicon {
  top: 0;
}
.btn:hover {
  border: 0;
  background-color: transparent;
}
.titulo strong {
  text-transform: uppercase;
}
hr.boder-dotted {
  border-bottom: 2px dotted;
  margin-top: 0px;
  margin-bottom: 5px;
  border-top: none;
}
.bg-azul {
  padding: 1px;
  background-color: #092e41;
  margin-bottom: 15px;
}
.bg-azul h3 {
  margin: 10px;
  font-weight: bold;
  color: #fff;
}
.fixed-top {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1.5;
  transform: translateY(0);
  z-index: 1500;
  padding-top: 15px;
  border-bottom: 12px solid #fff;
}
.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ul-reset li {
  float: left;
}
/*  ESTRUCTURE
    ---------------------------------------------------------*/
body {
  font-family: 'Gotham-Light', 'verdana';
  padding-top: 0px;
  font-size: 14px;
  color: #838688;
}
body a,
body a:hover {
  text-decoration: none;
}
body b,
body strong {
  font-family: 'Gotham-Bold', 'verdana';
  font-weight: 500;
}
.container {
  max-width: 1110px;
}
/*  HEADER
    ---------------------------------------------------------*/
#header .logo {
  margin: 30px 0px 0px 30px;
}
#header .navbar-inverse {
  border: 0;
  border-radius: 0px;
  background: transparent;
}
#header .navbar-inverse .navbar-collapse {
  padding: 0;
}
#header .navbar-inverse .navbar-collapse .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  padding-top: 15px;
}
#header .navbar-inverse .navbar-collapse .menu li {
  float: left;
}
#header .navbar-inverse .navbar-collapse .menu li {
  width: 75px;
  margin: 0px 28px 0 0;
}
#header .navbar-inverse .navbar-collapse .menu li a {
  color: #838688;
  padding: 0;
}
#header .navbar-inverse .navbar-collapse .menu li a p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 13px;
}
#header .navbar-inverse .navbar-collapse .menu li:last-child {
  margin-right: 0;
}
#header .navbar-inverse .navbar-toggle {
  background-color: #123562;
  float: left;
}
#header .login {
  background: #f2f2f3;
  padding: 18px 0px 11px;
}
#header .login form {
  float: right;
}
#header .login input,
#header .login button {
  font-family: 'Gotham-Bold', 'verdana';
  border-radius: 0px;
  border: 2px solid #fff;
  background-color: transparent;
}
#header .login .logar button {
  background-color: #818285;
  padding: 10px 13px;
  border: 0;
  margin-top: 2px;
}
#header .login .logado input,
#header .login .logado label {
  font-family: 'Gotham-Book', 'verdana';
}
#header .login .logado input {
  margin-top: 6px;
  width: 310px;
}
#header .login .logado .name label {
  margin: 25px 5px 0px 41px;
  font-size: 1.3rem;
}
#header .login .logado button {
  background-color: #ef3e36;
  color: #fff;
  border: 0;
  margin: 6px 0px 0px ;
  padding: 4px 9px;
}
#footer .newsletter {
  background-color: #dadbdc;
  float: left;
  width: 100%;
  padding: 15px 0 5px;
  margin: 8px 0px 45px;
}
#footer .newsletter p.title {
  max-width: 56%;
  text-align: right;
  float: left;
  margin-left: 30px;
}
#footer .newsletter form {
  float: left;
}
#footer .newsletter form label {
  color: #838688;
  font-family: 'Gotham-Light', 'verdana';
  line-height: 16px;
}
#footer .newsletter form .form-control {
  display: block!important;
  background-color: #c1c3c5;
  border-color: #fff;
  border-radius: 0px;
  height: 31px;
  margin-right: 12px;
  width: 232px;
}
#footer .fones {
  width: 82%;
}
#footer .fones p {
  color: #3B3C3D;
  text-align: center;
  font-size: 1.2rem;
  margin: 0 20px;
}
#footer .info {
  margin: 30px 0;
  float: left;
  width: 100%;
}
#footer .info p {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}
#footer .topo {
  float: right;
  margin: 0px 16px 7px 0px;
  background: #CCC;
  border-radius: 4px;
  padding: 6px 12px;
  text-align: center;
}
#footer .topo .glyphicon {
  color: #333;
}
#footer .topo:hover {
  background: #333;
}
#footer .topo:hover .glyphicon {
  color: #ccc;
}
.destaquemotor {
  background: #f2f2f3;
  float: left;
  width: 100%;
  padding: 0px 0px 25px;
}
.destaquemotor .container {
  max-width: 1170px;
}
.destaquemotor #carousel-motor .carousel-indicators {
  bottom: -35px;
  left: 28%;
}
.destaquemotor #carousel-motor .carousel-indicators li {
  background-color: #6D6E71;
  border: 1px solid #6D6E71;
}
.destaquemotor #carousel-motor .carousel-indicators .active {
  background-color: #218f80;
  border-color: #218f80;
  width: 10px;
  height: 10px;
  margin: 1px;
}
.destaquemotor #carousel-motor .carousel-inner .item img {
  width: 100%;
  height: 466px;
}
#motor {
  width: 100%;
  background: rgba(8, 33, 59, 0.8);
  position: absolute;
  top: -435px;
  color: #FFF;
  margin-left: 527px;
  z-index: 2;
}
#motor .nav-tabs {
  background-color: #fcb040;
  border-bottom: 4px solid #f5ee30;
}
#motor .nav-tabs li {
  border: 0px;
  padding: 3px 0px 5px;
}
#motor .nav-tabs li a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #083b67;
  font-family: 'Gotham-Book', 'verdana';
  font-size: 1.4rem;
  border: 0;
  border-right: 1px solid #db9630;
  height: 30px;
  padding: 9px 39px;
}
#motor .nav-tabs li a:hover {
  background-color: transparent;
}
#motor .nav-tabs li:last-child a {
  border-right: 0px;
}
#motor .nav-tabs li.active a {
  background-color: transparent;
}
#motor .nav-tabs li.active a .markcircle {
  background-color: transparent;
}
#motor .nav-tabs .markcircle {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 100%;
  float: left;
  margin: 2px 9px 0px 0px;
  border: 2px solid #FFF;
}
#motor .body {
  padding: 25px 34px 5px;
}
#motor .body form .row {
  margin: 0px -15px 20px;
}
#motor .body form .col-md-3 {
  padding: 3px;
}
#motor .body form label {
  font-family: 'Gotham-Light', 'verdana';
  font-size: 1.3rem;
}
#motor .body form .form-group {
  width: 100%;
}
#motor .body form .form-group .form-control {
  width: 100%;
  background-color: #d9d9e0;
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  height: 31px;
  padding: 6px;
  font-size: 1.1rem;
}
#motor .body form input[type=radio],
#motor .body form input[type=checkbox] {
  margin-top: 2px;
}
#motor .body form .cotacao {
  float: left;
}
#motor .body form .cotacao p {
  float: left;
  clear: none;
  font-family: 'Gotham-Book', 'verdana';
  margin: 32px 12px 0px 0px;
  font-size: 1.3rem;
}
#motor .body form .btnyellow {
  float: right;
  margin-top: 23px;
}
#motor .body form .btnyellow p {
  padding: 5px 13px;
  font: 1.5rem 'Gotham-Book', 'verdana';
}
#motor .body form .btnyellow span {
  padding: 7px 10px;
  color: #FFF;
  height: 30px;
  margin-top: -2px;
}
.resultbusca {
  margin: 0px 0px 40px;
}
.resultbusca .head {
  background: #f2f2f3;
}
.resultbusca .head .menuresult {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  margin-top: 8px;
}
.resultbusca .head .menuresult li {
  float: left;
}
.resultbusca .head .menuresult li p {
  font-family: 'Gotham-Bold', 'verdana';
  text-align: center;
  color: #bdbec0;
  margin: 3px 0px 0px;
}
.resultbusca .head .menuresult li.active p {
  color: #818285;
}
.resultbusca form label {
  color: #939598;
  font-size: 1.6rem;
  margin-bottom: 0px;
}
.resultbusca form label strong {
  font-family: 'Gotham-Book', 'verdana';
  font-weight: 600;
}
.resultbusca form .form-group {
  border-bottom: 2px dotted #BDBFC1;
  padding: 5px 0 18px;
  width: 100%;
}
.resultbusca form .form-group .form-control {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0px;
  color: #939598;
  margin-top: 5px;
}
.resultbusca form .form-group:last-child {
  border: 0;
}
.resultbusca .sidebarfiltro {
  width: 100%;
}
.resultbusca .sidebarfiltro .boxtitle {
  width: 100%;
  background-color: #092E41;
  padding: 27px 0px 27px 20px;
  float: left;
  margin-top: 23px;
}
.resultbusca .sidebarfiltro .boxtitle p {
  font: 1.7rem 'Gotham-Book', 'verdana';
  color: #fff;
  margin: 10px 0px 0px 5px;
  float: left;
}
.resultbusca .sidebarfiltro .content {
  width: 100%;
  background: #f2f2f3;
  padding: 6px 12px;
  float: left;
  margin: 12px 0;
}
.resultbusca .sidebarfiltro #slider-range {
  margin-bottom: 15px;
  width: 94%;
  margin-left: 7px;
}
.resultbusca .sidebarfiltro .sliderjq .bgslider {
  background: #ff0000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ebeced), color-stop(1, #bbbcbf));
  background: -ms-linear-gradient(bottom, #ebeced, #bbbcbf);
  background: -moz-linear-gradient(center bottom, #ebeced 0%, #bbbcbf 100%);
  background: -o-linear-gradient(#bbbcbf, #ebeced);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbcbf', endColorstr='#ebeced', GradientType=0);
  -webkit-box-shadow: 1px 1px 3px #b8b9bc;
  -moz-box-shadow: 1px 1px 3px #b8b9bc;
  box-shadow: 1px 1px 3px #b8b9bc;
  width: 85%;
  height: 32px;
  border-radius: 22px;
  position: absolute;
  margin: 54px 0 0 -6px;
}
.resultbusca .sidebarfiltro .sliderjq input {
  border: 0;
  color: #939598;
  font: 1.6rem 'Gotham-Book', 'verdana';
  background: transparent;
  font-weight: 600;
  margin: 4px 0 18px;
}
.resultbusca .resultado .nav-tabs {
  border-bottom: 0px;
  margin-top: 12px;
}
.resultbusca .resultado .nav-tabs li {
  margin-bottom: 0px;
  margin-right: 6px;
  background-color: #e7e8e9;
  border-radius: 0px;
  border: 0;
}
.resultbusca .resultado .nav-tabs li a {
  color: #a7a9ac;
  font: 1.4rem 'Gotham-Bold', 'verdana';
  border-radius: 0px;
  border: 0;
  margin: 0;
  padding: 7px 32px;
}
.resultbusca .resultado .nav-tabs li.active a {
  color: #88898c;
  background-color: #f3f3f4;
}
.resultbusca .resultado .nav-tabs li:last-child {
  margin-right: 0px;
}
.resultbusca .resultado .tab-content {
  border: 2px solid #F3F4F4;
  padding: 12px;
}
.resultbusca .resultado ul.item {
  float: left;
  width: 79%;
  background-color: #e7e8e9;
  clear: both;
  margin: 12px 0;
  padding: 0px 15px;
  color: #757679;
}
.resultbusca .resultado ul.item li {
  padding: 15px 0px 20px;
  width: 100%;
  border-bottom: 2px dotted #BDBFC1;
  list-style: none;
  margin: 6px 0;
  float: left;
}
.resultbusca .resultado ul.item li .logo-cia-aerea {
  margin: 0px 12px 0px 0px;
}
.resultbusca .resultado ul.item li .info {
  margin: 0 19px;
}
.resultbusca .resultado ul.item li .info p {
  margin-bottom: 0px;
  line-height: 17px;
  font-family: 'Gotham-Book', 'verdana';
}
.resultbusca .resultado ul.item li .info p:first-child {
  margin-bottom: 12px;
}
.resultbusca .resultado ul.item li:last-child {
  border: 0px;
}
.resultbusca .resultado .total {
  background-color: #092e41;
  margin-top: 12px;
  float: left;
  width: 21%;
  text-align: center;
  border-left: 3px solid #5bc9d1;
  color: #fff;
  padding: 18px 0;
}
.resultbusca .resultado .total h3 {
  color: #fff;
  font: 1.6rem 'Gotham-Bold', 'verdana';
}
.resultbusca .resultado .total p.price {
  margin: 20px 0;
  font-size: 2rem;
}
.resultbusca .resultado .total p.obs {
  width: 62%;
  margin: 30px auto 10px;
  font-size: 1.1rem;
  color: #2CBFC9;
}
.resultbusca .resultado .total .btnred {
  float: none;
}
.resultbusca .resultado .total .btnred p {
  background-color: #ef3e36;
}
.resultbusca .resultado .total .btnred .glyphicon {
  color: #fff;
  font-size: 1.7rem;
  padding: 7px 8px;
}
.resultbusca p.togglefiltro span {
  top: 3px;
  font-size: 1.5rem;
}
.resultbusca p.togglefiltro button {
  background-color: #092E41;
  border: 0;
  padding: 7px 12px;
  border-radius: 5px;
  margin: 17px 0 0px;
  color: #FFF;
  font-size: 1.4rem;
}
.resultbusca p.togglefiltro button:focus {
  outline: none;
}
#hotel .sidebarfiltro .stars {
  float: left;
  width: 100%;
  clear: both;
  margin: 10px 0;
}
#hotel .comparar {
  background-color: #e7e8e9;
  margin: 13px 0 2px;
}
#hotel .comparar .head {
  float: left;
  width: 100%;
  padding: 12px 15px;
  background-color: #092E41;
}
#hotel .comparar .head h3 {
  color: #fff;
  font: 1.7rem 'Gotham-Bold', 'verdana';
  float: left;
  margin: 6px 0 0;
}
#hotel .comparar .head button {
  float: right;
  margin: 0;
}
#hotel .comparar .head button p {
  background-color: #2cbfc9;
  padding: 6px;
}
#hotel .comparar .body {
  padding: 15px;
  clear: both;
  float: left;
  width: 100%;
}
#hotel .comparar .body form .form-group .form-control {
  display: block;
  width: 100%;
}
#hotel .comparar .body form button {
  height: 32px;
}
#hotel .comparar .body form button p {
  padding: 10px 0px;
  width: 71px;
  font-size: 1.3rem;
}
#hotel .comparar .body form button span {
  color: #fff;
  padding: 9px;
}
#hotel .comparar .body form button.btnyellow {
  margin-top: 33px;
}
#hotel .comparar .body form button.btnred p {
  background-color: #bf1e2d;
}
#hotel .comparar .body form label.namecity {
  margin-top: 32px;
}
#hotel .resultado ul.item {
  width: 100%;
  background: transparent;
  margin: 0px;
  padding: 0;
}
#hotel .resultado ul.item li {
  background-color: #e7e8e9;
  border: 0;
  padding: 0px;
}
#hotel .resultado ul.item li .imagem {
  padding: 20px 0 0 15px;
  width: 38%;
}
#hotel .resultado ul.item li .info {
  padding: 20px 0 0 0px;
  width: 38%;
  margin: 0px 0px 0px 14px;
}
#hotel .resultado ul.item li .info h2 {
  font: 1.7rem 'Gotham-Book', 'verdana';
  font-weight: 600;
  margin: 5px 0px 15px;
  color: #939598;
}
#hotel .resultado ul.item li .info p {
  color: #989a9d;
  font-size: 1.5rem;
}
#hotel .resultado ul.item li .info .classificacao {
  float: left;
  width: 100%;
  margin: 10px 0;
}
#hotel .resultado ul.item li .info .classificacao p {
  float: left;
  font: 1.5rem 'Gotham-Bold', 'verdana';
  margin: 9px 12px 0 0;
  width: 33%;
}
#hotel .resultado ul.item li .info .classificacao p.green {
  color: #8cc63f;
}
#hotel .resultado ul.item li .info .classificacao p.red {
  color: #911b26;
}
#hotel .resultado ul.item li .info a {
  font: 1.5rem 'Gotham-Book', 'verdana';
  color: #56bae3;
}
#hotel .resultado ul.item li .info .text-content {
  clear: both;
}
#hotel .resultado ul.item li .info .text-content p {
  font-size: 1.3rem;
}
#hotel .resultado ul.item li .total {
  width: 22%;
  margin: 0;
}
#hotel .resultado ul.item li .total p.obs {
  width: 80%;
  margin: 48px auto 3px;
  font-size: 1.2rem;
}
#hotel .resultado ul.item li .total button {
  margin-top: 5px;
}
#banco-laminas .img-responsive,
#banco-laminas img {
  margin-top: 23px;
}
#banco-laminas .sidebarfiltro .content form hr {
  border-top: 1px solid #eee;
}
#servicos .titulo {
  background-color: #e7e8e9;
  margin: 13px 0 2px;
}
#servicos .titulo .head {
  float: left;
  width: 100%;
  padding: 12px 15px;
  background-color: #092E41;
}
#servicos .titulo .head h3 {
  color: #fff;
  font: 1.7rem 'Gotham-Bold', 'verdana';
  float: left;
  margin: 6px 0 0;
}
#servicos .titulo .head button {
  float: right;
  margin: 0;
}
#servicos .titulo .head button p {
  background-color: #2cbfc9;
  padding: 6px;
}
#servicos .body {
  padding: 15px;
  clear: both;
  float: left;
  width: 100%;
}
#servicos .body form .titulo-azul label {
  font-family: 'Gotham-Bold', 'verdana';
  color: #2cbfc9;
}
#servicos .body form .form-group {
  padding: 5px 0 13px;
}
#servicos .body form .form-group .form-control {
  display: block;
  width: 100%;
}
#servicos .body form .form-group label {
  padding-right: 0;
  padding-top: 7px;
  font-family: 'Gotham-Bold', 'verdana';
}
#servicos .body form button {
  height: 32px;
}
#servicos .body form button p {
  padding: 10px 0px;
  width: 71px;
  font-size: 1.3rem;
}
#servicos .body form button span {
  color: #fff;
  padding: 9px;
}
#servicos .body form button.btnred p {
  background-color: #bf1e2d;
}
#servicos .body form label.namecity {
  margin-top: 32px;
}
#quem-somos .bg-azul h3 {
  text-transform: uppercase;
}
#quem-somos .text-content {
  margin-top: 15px;
}
#quem-somos .text-content p {
  text-align: justify;
}
#quem-somos .text-content ul {
  list-style: none;
  padding-left: 0;
}
#quem-somos strong {
  font-style: italic;
}
#quem-somos h3 strong {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: normal;
}
#contato h2 {
  font-weight: bold;
  margin-top: 35px;
}
#contato .panel-default {
  border: none;
}
#contato .panel-default .panel-heading {
  background-color: #FFF;
  padding: 10px 0px;
  border-color: transparent;
}
#contato .panel-default ul.nav-tabs {
  width: 100%;
  border-bottom: none;
}
#contato .panel-default ul.nav-tabs li {
  padding: 0 3px;
}
#contato .panel-default ul.nav-tabs li a {
  text-decoration: none;
  border-radius: 0;
  background-color: #dadbdc;
  font-weight: bold;
  color: #838688;
}
#contato .panel-default ul.nav-tabs li.active span.seta-azul-clara {
  display: block;
}
#contato .panel-default ul.nav-tabs li.active a {
  background-color: #90cdf0;
  color: #1d2124;
}
#contato .panel-default ul.nav-tabs li:first-child {
  padding-left: 0;
}
#contato .panel-default ul.nav-tabs li span.seta-azul-clara {
  display: none;
}
#contato .panel-body {
  padding: 0;
  background-color: #092e41;
  margin-top: -5px;
}
#contato table.fundo-azul {
  background-color: #092e41;
  padding: 15px;
  width: 100%;
}
#contato table.fundo-azul tr {
  border-bottom: 2px dotted #90cdf0;
}
#contato table.fundo-azul tr:last-child {
  border-bottom: none;
}
#contato table.fundo-azul tr td {
  padding: 10px;
  color: #FFF;
  font-weight: bold;
}
#contato thead.cabecalho-tabela {
  font-weight: bold;
  background-color: #dadbdc;
  margin: 0;
  padding: 15px;
}
#contato thead.cabecalho-tabela tr td {
  padding: 15px;
  color: #092e41;
}
#contato thead.cabecalho-tabela tr td a {
  text-decoration: none;
  color: #092e41;
}
#contato form.contato-formulario .form-group {
  border-bottom: none;
}
#contato form.contato-formulario .form-group input,
#contato form.contato-formulario .form-group textarea {
  border: 1px solid;
}
#contato form.contato-formulario .form-group .form-control textarea {
  margin-top: -30px;
}
#contato form.contato-formulario .form-group .btn-azul {
  border: 1px solid #dadbdc;
  margin-right: 25px;
  margin-right: 30px;
  margin-top: -15px;
}
#contato form.contato-formulario .form-group .btn-azul p {
  background-color: #90cdf0;
}
#contato form.contato-formulario .form-group .btn span {
  background-color: #dadbdc;
  padding: 8px;
}
#contato form.contato-formulario .fundo-cinsa {
  background-color: #dadbdc;
  padding-left: 25px;
  padding-bottom: 30px;
}
#contato form.contato-formulario .fundo-cinsa input,
#contato form.contato-formulario .fundo-cinsa textarea {
  background-color: #fff;
}
#contato form.contato-formulario .areadetexto {
  margin-top: -50px;
  padding-left: 25px;
}
#contato form.contato-formulario .areadetexto textarea {
  background-color: #fff;
}
#orcamentos .head .bg-azul .glyphicon-edit,
#orcamentos .head .bg-azul .glyphicon {
  float: left;
  font-size: 25px;
  color: #fff;
  padding: 10px;
  margin-left: 10px;
}
#orcamentos .orcamentos-busca .btn span {
  padding: 9px;
  color: #fff;
}
#orcamentos .orcamentos-busca .btn {
  margin-top: 25px;
  height: 37px;
}
#orcamentos .orcamentos-busca .btnyellow p {
  padding: 6px 15px;
}
#orcamentos .orcamentos-busca .fundo-cinsa {
  background-color: #dadbdc;
  padding: 10px 10px 0 20px;
}
#orcamentos .orcamentos-busca .fundo-cinsa label {
  font-weight: bold;
}
#orcamentos .result-orcamento .cabecalho-tabela {
  background-color: #f9f9f9;
}
#orcamentos .result-orcamento tr td {
  border-top: 3px solid #fff;
}
#orcamentos .result-orcamento tr td:last-child {
  float: right;
  padding-right: 35px;
}
#orcamentos .paginacao-orcamento {
  width: 260px;
  margin: 0 auto;
}
#orcamentos .paginacao-orcamento ul li {
  border-radius: 5px;
}
#orcamentos .paginacao-orcamento ul li a {
  /*                    background-color: #f9f9f9;*/
  font-family: 'Gotham-Bold', 'verdana';
  background-color: #dadbdc;
  color: #3B3C3D;
  border-radius: 45px;
  margin: 0 3px;
}
#orcamentos .paginacao-orcamento ul li:last-child a {
  background-color: #fff;
  color: #dadbdc;
  border: none;
  font-size: 26px;
  padding: 2px 5px 0 5px;
}
#orcamentos .paginacao-orcamento .active a {
  background-color: #d91b5c;
  border: none;
  color: #fff;
}
#documentos ul {
  padding: 0;
  list-style: none;
}
#documentos ul li {
  margin: 25px 0;
}
#documentos ul li a {
  float: left;
  margin-right: 10px;
}
#documentos ul li a .btn,
#documentos ul li a .btn-default,
#documentos ul li a .btnyellow {
  margin-top: 0;
}
#documentos ul li a .btn p,
#documentos ul li a .btn-default p,
#documentos ul li a .btnyellow p {
  min-width: 85px;
}
#documentos ul li a .btngreen {
  margin-top: 0;
}
#documentos ul li a .btngreen p {
  background-color: #8cc63f;
}
#documentos ul li p.desc-arquivo {
  padding-top: 5px;
}
#roteiros .bg-azul h3 {
  font-weight: bold;
}
#roteiros .sidebarfiltro .boxtitle {
  padding: 10px 0px 15px 45px;
}
#roteiros .sidebarfiltro .btn span,
#roteiros .sidebarfiltro .btn-default span,
#roteiros .sidebarfiltro .btnyellow span {
  padding: 9px;
  color: #fff;
}
#roteiros .sidebarfiltro form.form-roteiro .form-group {
  border-bottom: none;
}
#roteiros .sidebarfiltro form.form-roteiro .mes {
  border-top: 2px dotted;
  padding-top: 20px;
}
#roteiros .roteiro-single {
  margin-top: 23px;
}
#roteiros .roteiro-single img {
  width: 100%;
  padding-right: 14px;
  display: block;
}
#roteiros .roteiro-single .transparent {
  opacity: 0.8;
  margin-right: 15px;
  margin-top: -203px;
}
#roteiros .roteiro-single .transparent h3 {
  font-weight: bold;
  opacity: 9;
  padding: 6px;
}
#roteiros .roteiro-single .confira-rosa {
  background-color: #d91b5c;
  padding: 5px 0;
  margin-top: 105px;
}
#roteiros .roteiro-single .confira-rosa a {
  color: #fff;
  font-weight: bold;
}
#cadastre-sua-agencia p {
  margin-top: 15px;
}
#cadastre-sua-agencia form {
  padding: 5px 15px;
  border-top: 2px solid #ccc;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 1%, #ebe2eb);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.1, #ffffff), to(#cccccc));
}
#cadastre-sua-agencia form .form-group {
  padding: 5px 0;
  border-bottom: none;
}
#cadastre-sua-agencia form .form-group label {
  color: #555;
  font-weight: bold;
}
#cadastre-sua-agencia form .form-group input {
  background-color: #fff;
  border: 1px solid #ccc;
}
#cadastre-sua-agencia form .form-group .btn,
#cadastre-sua-agencia form .form-group .bnt-black {
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222222 100%);
  color: #fff;
  font-family: 'Gotham-Bold', 'verdana';
  padding: 5px 15px;
  margin-top: 0;
  border-radius: 5px;
}
#cadastre-sua-agencia form .form-group .campo-curto {
  width: 60%;
}
#cadastre-sua-agencia form .form-group .campo-medio {
  width: 75%;
}
#cadastre-sua-agencia .contet-texto {
  border-top: 2px solid #ccc;
}
#cadastre-sua-agencia .contet-texto h2,
#cadastre-sua-agencia .contet-texto h4 {
  color: #092e41;
  font-weight: bold;
}
#cadastre-sua-agencia .contet-texto h4 {
  margin-top: 25px;
}
#cadastre-sua-agencia .contet-texto h2 {
  font-size: 2.7rem;
}
#cadastre-sua-agencia .contet-texto p {
  text-align: justify;
}
#cadastre-sua-agencia .barra-cinsa {
  overflow: hidden;
  background-color: #ccc;
  border-left: 1px solid #dadbdc;
  border-right: 1px solid #dadbdc;
  width: 50px;
}
#gerar-orcamento .btn,
#gerar-orcamento btn-default,
#gerar-orcamento .btn-rosa {
  margin-top: 9px;
}
#gerar-orcamento .btn p,
#gerar-orcamento btn-default p,
#gerar-orcamento .btn-rosa p {
  background-color: #90cdf0;
}
#gerar-orcamento .bg-azul {
  margin: 0;
}
#gerar-orcamento .bg-cinsa-menor {
  padding: 5px;
}
#gerar-orcamento .bg-cinsa {
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 15px;
  background-color: #e7e8e9;
}
#gerar-orcamento .bg-cinsa h4 {
  font-weight: bold;
  font-size: 1.5rem;
}
#gerar-orcamento p.desc-hotel {
  padding: 15px;
}
#gerar-orcamento .btn span {
  float: left;
  background-color: #ef3e36;
  padding: 9px;
  color: #fff;
}
#gerar-orcamento .resultado .nav-tabs {
  border-bottom: 0px;
  margin-top: 12px;
}
#gerar-orcamento .resultado .nav-tabs li {
  margin-bottom: 0px;
  margin-right: 6px;
  background-color: #e7e8e9;
  border-radius: 0px;
  border: 0;
}
#gerar-orcamento .resultado .nav-tabs li a {
  color: #a7a9ac;
  font: 1.4rem 'Gotham-Bold', 'verdana';
  border-radius: 0px;
  border: 0;
  margin: 0;
  padding: 7px 32px;
}
#gerar-orcamento .resultado .nav-tabs li.active a {
  color: #88898c;
  background-color: #f3f3f4;
}
#gerar-orcamento .resultado .nav-tabs li:last-child {
  margin-right: 0px;
}
#gerar-orcamento .resultado .tab-content {
  border: 2px solid #F3F4F4;
  padding: 12px;
}
#gerar-orcamento .resultado ul.item {
  float: left;
  width: 79%;
  background-color: #e7e8e9;
  clear: both;
  margin: 0;
  padding: 0px 15px;
  color: #757679;
}
#gerar-orcamento .resultado ul.item li {
  padding: 10px 0px 10px;
  width: 100%;
  border-bottom: 2px dotted #BDBFC1;
  list-style: none;
  margin: 6px 0;
  float: left;
}
#gerar-orcamento .resultado ul.item li .logo-cia-aerea {
  margin: 0px 12px 0px 0px;
}
#gerar-orcamento .resultado ul.item li .info {
  margin: 0 19px;
}
#gerar-orcamento .resultado ul.item li .info p {
  margin-bottom: 0px;
  line-height: 17px;
  font-family: 'Gotham-Book', 'verdana';
}
#gerar-orcamento .resultado ul.item li .info p:first-child {
  margin-bottom: 12px;
}
#gerar-orcamento .resultado ul.item li:last-child {
  border: 0px;
}
#gerar-orcamento .resultado .total {
  background-color: #092e41;
  margin-top: 0px;
  float: left;
  width: 21%;
  text-align: center;
  border-left: 3px solid #5bc9d1;
  color: #fff;
  overflow: hidden;
  padding: 18px 0;
}
#gerar-orcamento .resultado .total h3 {
  color: #fff;
  font: 1.6rem 'Gotham-Bold', 'verdana';
}
#gerar-orcamento .resultado .total p.price {
  margin: 20px 0;
  font-size: 2rem;
}
#gerar-orcamento .resultado .total p.obs {
  width: 62%;
  margin: 30px auto 10px;
  font-size: 1.1rem;
  color: #2CBFC9;
}
#gerar-orcamento .resultado .total .btnred {
  float: none;
}
#gerar-orcamento .resultado .total .btnred p {
  background-color: #ef3e36;
}
#gerar-orcamento .resultado .total .btnred .glyphicon {
  color: #fff;
  font-size: 1.7rem;
  padding: 7px 8px;
}
#gerar-orcamento table.bg-cinsa {
  width: 100%;
}
#gerar-orcamento table.bg-cinsa thead tr td {
  font-weight: bold;
  border: none;
}
#gerar-orcamento table.bg-cinsa tr td {
  border-left: 1px solid #fff;
  text-align: center;
  border-top: 2px solid #fff;
}
#gerar-orcamento table.bg-cinsa tr td:first-child {
  border-left: none;
}
#gerar-orcamento .input-data input {
  width: 100%;
}
#gerar-orcamento .titulo-azul label {
  font-weight: bold;
}
#gerar-orcamento .opcao-de-pagamento h5 {
  font-weight: bold;
  color: #ef3e36;
  font-size: 1.8rem;
}
#gerar-orcamento .opcao-de-pagamento h6 {
  font-size: 1.5rem;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-hover {
  background-image: url("../img/cvg.png") !important;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background-image: url("../img/cvg.png") !important;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background-image: url("../img/cvg.png") !important;
}
.ui-widget-header {
  background: #880b17 !important;
}
/*  RESPONSIVE
    -------------------------------------------------------------*/
/* Large desktop */
@media (min-width: 1026px) and (max-width: 1045px) {
  #header .navbar-inverse .navbar-collapse .menu li {
    margin: 0 7px 0;
  }
  #home .destaquemotor #carousel-motor .carousel-inner .item img {
    height: 380px;
  }
  #motor {
    height: auto;
    top: -368px;
    margin-left: 443px;
  }
  #motor .body form .row {
    margin: 0px -15px 10px;
  }
  #motor .nav-tabs li a {
    padding: 9px 26px;
  }
  #motor .body form .col-md-3 label {
    font-size: 1.1rem;
  }
  #motor .body form .cotacao p {
    margin-top: 25px;
  }
  #motor .body form .btnyellow {
    margin-top: 10px;
  }
  .resultbusca .sidebarfiltro .sliderjq .bgslider {
    width: 82%;
  }
  .resultbusca .sidebarfiltro .boxtitle p {
    font-size: 1.5rem;
  }
  #footer .newsletter p.title {
    max-width: 58%;
    margin-left: 0;
    font-size: 1.3rem;
  }
  #footer .fones {
    width: 90%;
  }
  #footer .fones p {
    margin: 0 14px;
  }
  .cvg.iconnews {
    background-position: -287px -4px;
    margin: 0px 18px 0px 42px;
  }
  .cvg.menuresultcvg.setapont {
    background-position: -389px -257px;
    width: 125px;
    margin: 0;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  #header .logo {
    margin-left: 0px;
  }
  #header .navbar-inverse .navbar-collapse .menu li {
    margin: 0px 3px 0 0;
  }
  #home .destaquemotor #carousel-motor .carousel-inner .item img {
    height: 318px;
  }
  #motor {
    height: auto;
    background: rgba(8, 33, 59, 0.8);
    position: relative;
    top: 0px;
    margin: 58px 0px;
  }
  #motor .nav-tabs li a {
    padding: 9px 65px;
  }
  .resultbusca .sidebarfiltro .boxtitle {
    padding-left: 12px;
  }
  .resultbusca .resultado ul.item li .info {
    margin: 0 7px;
  }
  .resultbusca .resultado ul.item li .logo-cia-aerea {
    margin: 0px 12px 13px 0px;
  }
  .resultbusca .resultado ul.item li .info.clear {
    clear: both;
  }
  .resultbusca .resultado ul.item li .info p {
    font-size: 1.3rem;
  }
  .resultbusca .resultado ul.item {
    width: 75%;
  }
  .resultbusca .resultado .total {
    width: 25%;
  }
  #hotel .comparar .body form button.btnyellow {
    float: right;
    margin-top: 0;
  }
  #hotel .comparar .head h3 {
    width: 53%;
  }
  #hotel .comparar .head button {
    margin-top: 10px;
  }
  #hotel .resultado ul.item li .imagem {
    width: 60%;
  }
  #hotel .resultado ul.item li .info {
    width: 57%;
  }
  #hotel .resultado ul.item li .total {
    width: 40%;
    margin-top: 22px;
  }
  #hotel .resultado ul.item li .info .classificacao p {
    margin-right: 0px;
  }
  .resultbusca .sidebarfiltro .sliderjq .bgslider {
    width: 83%;
  }
  #footer .newsletter p.title {
    max-width: 70%;
    margin-left: 0;
    font-size: 1.3rem;
  }
  #footer .newsletter form {
    width: 100%;
  }
  #footer .newsletter form .form-control {
    width: 164px;
  }
  #footer .fones {
    width: 100%;
  }
  #footer .fones p {
    margin: 0 4px;
  }
  .cvg.iconnews {
    margin-left: 0px;
  }
  .cvg.menuresultcvg.setapont {
    background-position: -461px -257px;
    width: 51px;
    margin: 0px 0px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body,
  html {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
  }
  #header .navbar-inverse .navbar-collapse {
    border-bottom: 1px solid #c1c3c5;
    border-color: #c1c3c5;
  }
  #header .navbar-inverse .navbar-collapse .menu {
    float: left;
  }
  #header .navbar-inverse .navbar-collapse .menu li {
    width: auto;
    margin: 0;
    clear: both;
  }
  #header .navbar-inverse .navbar-collapse .menu li a p {
    font-size: 1.3rem;
    color: #333;
  }
  #header .login form,
  #header .login .logado input {
    width: 100%;
  }
  #header .login .logar .form-group {
    width: 46%;
    float: left;
  }
  #header .login .logar .form-group input {
    width: 97%;
  }
  #header .login .logar button {
    padding: 11px;
  }
  #header .login .logado .name {
    width: 88%;
    float: left;
  }
  #header .login .logado .name label {
    margin: 4px 8px 0px 0px;
    padding-top: 20px;
    float: right;
  }
  #home .destaquemotor #carousel-motor .carousel-inner .item img {
    height: 222px;
  }
  #motor {
    height: auto;
    background: rgba(8, 33, 59, 0.8);
    position: relative;
    top: 0px;
    margin: 58px 0px;
  }
  #motor .nav-tabs li a {
    border-right: 0px;
    padding: 9px 20px;
  }
  #motor .body form .cotacao p {
    clear: both;
    margin: 3px 0;
  }
  #motor .body form .btnyellow {
    margin-top: 58px;
  }
  .resultbusca .head .menuresult li {
    margin: 0px 8px 10px;
  }
  .resultbusca .resultado .nav-tabs li a {
    padding: 7px 34px;
  }
  .resultbusca .resultado ul.item,
  .resultbusca .resultado .total {
    width: 100%;
  }
  .resultbusca .resultado .total {
    width: 100%;
    position: relative;
    top: -12px;
    margin-top: 0;
    border: none;
  }
  .resultbusca .resultado ul.item li {
    padding: 15px 0 10px;
  }
  .resultbusca .resultado ul.item li .info {
    margin: 8px 0px;
    width: 50%;
  }
  .resultbusca .resultado ul.item li .info.clear {
    clear: both;
  }
  .resultbusca .resultado ul.item li .info p {
    font-size: 1.2rem;
  }
  .resultbusca .resultado .total p.price {
    margin: 0px;
  }
  .resultbusca .resultado .total p.obs {
    margin: 18px auto 0px;
  }
  .resultbusca .sidebarfiltro .sliderjq .bgslider {
    width: 86%;
    margin: 28px 0 0 -3px;
  }
  .resultbusca .sidebarfiltro form .form-group .form-control {
    font-size: 1.3rem;
    padding-left: 0px;
  }
  .resultbusca .sidebarfiltro .sliderjq input {
    font-size: 1.4rem;
  }
  .resultbusca .sidebarfiltro form label {
    font-size: 1.5rem;
  }
  #hotel .resultbusca form .form-group {
    padding-bottom: 0;
  }
  #hotel .comparar .head h3 {
    width: 30%;
    font-size: 1.4rem;
  }
  #hotel .comparar .head button {
    margin-top: 21px;
  }
  #hotel .comparar .head button p {
    font-size: 1.3rem;
    padding: 9px 4px;
  }
  #hotel .comparar .body form button.btnyellow {
    margin-top: 0px;
    float: right;
  }
  #hotel .resultado ul.item li .imagem {
    width: 94%;
  }
  #hotel .resultado ul.item li .info {
    width: 90%;
  }
  #hotel .resultado ul.item li .total {
    width: 100%;
  }
  #hotel .resultbusca .resultado .total h3 {
    margin: 0;
  }
  #hotel .resultado ul.item li .total p.obs {
    margin-top: 14px;
  }
  #hotel .resultbusca .resultado .total h3 {
    margin: 0 0 6px;
  }
  .cvg.iconnews {
    margin-left: 0px;
    top: 0;
  }
  .cvg.setagray {
    display: none;
  }
  .cvg.menuresult.setapont {
    background-position: -414px -257px;
    width: 101px;
  }
  #footer .newsletter {
    padding: 15px 0;
  }
  #footer .newsletter p.title {
    max-width: 66%;
  }
  #footer .newsletter form label {
    margin-top: 15px;
  }
  #footer .newsletter form .pull-left,
  #footer .newsletter form .pull-left .form-control {
    width: 100%;
  }
  #footer .newsletter form button {
    float: right;
  }
  #footer .fones {
    width: 100%;
  }
  #footer .fones .pull-left {
    margin: 13px 28px 0px 0px;
  }
  #footer .fones p {
    text-align: left;
    margin: 0px;
  }
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -70%;
    /* 6 columns */
  }
  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }
  .row-offcanvas-left.active {
    left: 70%;
    /* 6 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 75%;
    /* 6 columns */
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  #header .login .logar .form-group {
    width: 47%;
  }
  #header .login .logado .name {
    width: 91%;
  }
  .resultbusca .sidebarfiltro .sliderjq .bgslider {
    width: 87%;
    margin: 29px 0 0 -3px;
  }
  #hotel .comparar .head h3,
  .resultbusca .resultado .total p.obs {
    width: 100%;
  }
  #hotel .comparar .head button {
    margin-top: 0;
  }
  #hotel .resultado ul.item li .imagem {
    width: 33%;
  }
  #hotel .resultado ul.item li .info {
    width: 39%;
  }
  #hotel .resultado ul.item li .total {
    width: 25%;
  }
  #hotel.resultbusca .resultado .total .btnred p {
    font-size: 1.3rem;
    padding: 8px 7px;
  }
  .sidebar-offcanvas {
    width: 72%;
  }
  #footer .fones .pull-left {
    clear: none;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  #header .login .logar .form-group {
    width: 44%;
    float: left;
  }
  #header .login .logado .name {
    width: 82%;
    float: left;
  }
  #header .login .logado button {
    float: right;
  }
  #home .destaquemotor #carousel-motor .carousel-inner .item img {
    height: 165px;
  }
  #motor .nav-tabs li a {
    padding: 9px 39px;
  }
  .resultbusca .sidebarfiltro .sliderjq .bgslider {
    width: 81%;
    margin: 50px 0 0 -3px;
  }
}
