.resultbusca {
    margin: 0px 0px 40px;    
    
    .head {
         background: @bgbox;
        
        .menuresult {
            .ul-reset;
            float:right;
            margin-top:8px;
        
            li {

                p {
                    font-family: @font-padrao-bold;
                    text-align: center;
                    color: #bdbec0;
                    margin: 3px 0px 0px;
                }


                &.active {

                    p {
                        color: #818285;
                    }

                }
            }
        }
        
    }
    
    form {
        label {
            color: #939598;
            font-size: 1.6rem;
            margin-bottom: 0px;  

            strong {
                font-family: @font-padrao-reg;
                font-weight: 600;
            }
        }

        .form-group {
            border-bottom: 2px dotted #BDBFC1;
            padding:5px 0 18px;
            width:100%;

            .form-control {
                background: transparent;
                border:2px solid #fff;
                border-radius: 0px;
                color: #939598;
                margin-top: 5px;
            }

            &:last-child {border:0}

        }
                
                
     }
        
    .sidebarfiltro {
        width:100%;
        
        .boxtitle {
            width: 100%;
            background-color: #092E41;
            padding: 27px 0px 27px 20px;
            float: left;
            margin-top: 23px;
            
            p {
                font:1.7rem @font-padrao-reg;
                color: #fff;
                margin: 10px 0px 0px 5px;
                float: left;
            }
        }
        
        .content {
            width:100%;
            background: @bgbox;
            padding:6px 12px;
            float: left;
            margin: 12px 0;                        
            
        }
        
        #slider-range {
            margin-bottom: 15px;
            width: 94%;
            margin-left: 7px;
        }
        
        .sliderjq {
            .bgslider {
                .gradient(red, #ebeced, #bbbcbf);
                .box-shadow(1px 1px 3px #B8B9BC);
                width: 85%;
                height: 32px;
                border-radius: 22px;
                position: absolute;
                margin: 54px 0 0 -6px;

            }
            
            input {
                border:0;
                color: #939598;
                font: 1.6rem @font-padrao-reg;
                background: transparent;
                font-weight: 600;
                margin: 4px 0 18px;
            }
            
            
        }
    }
    
    .resultado {
        .nav-tabs {
            border-bottom: 0px;
            margin-top:12px;
            
            li {
                margin-bottom: 0px;
                margin-right: 6px;
                background-color: #e7e8e9;
                border-radius: 0px;
                border:0;
                
                a {
                    color: #a7a9ac;
                    font:1.4rem @font-padrao-bold;
                    border-radius: 0px;
                    border: 0;
                    margin: 0;
                    padding: 7px 32px;
                }
                
                &.active {
                    
                    a {
                        color: #88898c;
                        background-color: #f3f3f4;
                    }
                }
                
                &:last-child {margin-right: 0px}
            }
        }
        
        .tab-content {
            border: 2px solid #F3F4F4;
            padding: 12px;
        }
        
        ul.item {            
            float: left;
            width: 79%;
            background-color: #e7e8e9;
            clear: both;
            margin: 12px 0;
            padding: 0px 15px;
            color:#757679;
            
            li {
                padding: 15px 0px 20px;
                width: 100%;
                border-bottom: 2px dotted #BDBFC1;
                list-style:none;
                margin:6px 0;
                float:left;
                
                .logo-cia-aerea {
                    margin: 0px 12px 0px 0px;
                }
                
                .info {
                    margin:0 19px;
                    
                    p {
                        margin-bottom: 0px;
                        line-height: 17px;
                        font-family: @font-padrao-reg;
                        
                        &:first-child {
                            margin-bottom: 12px
                        }
                    }
                    
                }
                
                &:last-child {border:0px}
                
            }
        }
        
        .total {
            background-color: #092e41;
            margin-top: 12px;
            float: left;
            width: 21%;
            text-align:center;
            border-left:3px solid #5bc9d1;
            color: #fff;
            padding:18px 0;
            
            h3 {
                color: #fff;
                font:1.6rem @font-padrao-bold;
            }
            
           
            p.price {
                margin: 20px 0;
                font-size: 2rem;                                
            }
            
            p.obs {
                width: 62%;
                margin: 30px auto 10px;
                font-size: 1.1rem;
                color: #2CBFC9;
            }
            
            .btnred {
                
                float:none;
                
                p {
                    background-color: #ef3e36;                                      
                }
                
                .glyphicon {
                    color: #fff;
                    font-size: 1.7rem;
                    padding: 7px 8px;
                }
            }
        }
    }
    
    p.togglefiltro {  
        
        span {
            top:3px;
            font-size: 1.5rem;
        }
        button {            
            background-color: #092E41;
            border: 0;
            padding: 7px 12px;
            border-radius: 5px;
            margin: 17px 0 0px;
            color: #FFF;
            font-size: 1.4rem;
            
            &:focus{
                outline: none;
            }
        }
    }
}

