#banco-laminas{
    
    
    .img-responsive, img{
        margin-top: 23px;
    }

    .sidebarfiltro{
        .content{
        form{
            hr{
                border-top: 1px solid #eee;
            }
        }
    }
    }
}
