@charset "UTF-8";

/*  VARIABLES
    ---------------------------------------------------------*/
    @img: "../img";
    @font: "../fonts";
    @color-texto-padrao: #838688;
    @font-padrao:  'Gotham-Light', 'verdana';
    @font-padrao-reg:  'Gotham-Book', 'verdana';
    @font-padrao-bold:  'Gotham-Bold', 'verdana';
    @bgbox:  #f2f2f3;
    @color-azul-claro:  #90cdf0;
    @color-rosa:  #d91b5c;
    @color-azul-escuro:  #092E41;



/*  IMPORTS
    ---------------------------------------------------------*/
    @import "elements.less";
    @import "font.less";
    @import "sprites.less";
    @import "componentes.less";
    @import "funcoes.less";   
    @import "style.less";  
    @import "home.less";
    @import "aereo.less";
    @import "hotel.less";
    @import "banco-laminas.less";
    @import "servicos.less";
    @import "quem-somos.less";
    @import "contato.less";
    @import "orcamentos.less";
    @import "documentos.less";
    @import "roteiros.less";
    @import "cadastre-agencia.less";
    @import "gerar-orcamento.less";
    @import "jquery-ui.less";
    @import "responsive.less";
    
