#cadastre-sua-agencia{
    p{
        margin-top: 15px;
    }

    form{
        padding: 5px 15px;
        border-top:2px solid #ccc;
       background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 1%,
		#ebe2eb);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.1, #ffffff),
		to(#cccccc));

        .form-group {
            padding: 5px 0;
            border-bottom: none;

            label{
                color:#555;
                font-weight: bold;
            }

            input{
                background-color: #fff;
                border:1px solid #ccc;
            }

            .btn, .bnt-black{
                background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
                color:#fff;
                font-family: @font-padrao-bold;
                padding: 5px 15px;
                margin-top: 0;
                border-radius: 5px;
            }

            .campo-curto{
                width: 60%;
            }
            .campo-medio{
                width: 75%;
            }
        }
    }

    .contet-texto{
        border-top: 2px solid #ccc;

        h2,h4{
            color:@color-azul-escuro;
            font-weight: bold;
        }

        h4{
            margin-top: 25px;
        }

        h2{
            font-size: 2.7rem;
        }

        p{
            text-align: justify;
        }
    }

    .barra-cinsa{
        overflow: hidden;
        background-color: #ccc;
        border-left: 1px solid #dadbdc;
        border-right: 1px solid #dadbdc;
        width: 50px;
    }
}
