.form-control:focus {
    border-color: #fff;
    .box-shadow(0 0 8px rgba(52, 51, 51, 0.6));
}

form {
    label {
        font-weight: 400;
    }
}

.btn {                    
    border: 0px;
    border-radius: 0px;
    margin-top: 23px;
    background: transparent;
    height: 31px;
    padding:0;
    float:left;



    p {
        background-color: #fcb040;                    
        color: #fff;
        font: 1.7rem @font-padrao-reg;                            
        float: left;
        margin: 0;
        padding: 6px 7px;
    }

    span {
        float: left;
        background-color: #3B3C3D;
        padding: 18px;
    }

    .glyphicon {top:0}

    &:hover {
        border:0;
        background-color: transparent;
    }
}

.titulo{
    strong{
        text-transform: uppercase;
    }
}

hr.boder-dotted{
    border-bottom: 2px dotted;
    margin-top: 0px;
    margin-bottom: 5px;
    border-top: none;
}

.bg-azul{
    padding: 1px;
    background-color: @color-azul-escuro;
    margin-bottom: 15px;

    h3{
        margin: 10px;
        font-weight: bold;
        color:#fff;
    }
}

.fixed-top{
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1.5;
  transform: translateY(0);
  z-index: 1500;
  padding-top: 15px;
  border-bottom: 12px solid #fff;
}

