#contato{
    h2{
        font-weight: bold;
        margin-top: 35px;
    }

    .panel-default{
        border: none;

        .panel-heading{
            background-color: #FFF;
            padding: 10px 0px;
            border-color: transparent;
        }

        ul.nav-tabs{
            width: 100%;
            border-bottom:none;


            li{
                padding: 0 3px;

                a{
                    text-decoration: none;
                    border-radius:0;
                    background-color: #dadbdc;
                    font-weight: bold;
                    color:@color-texto-padrao;  
                }
                &.active{
                    span.seta-azul-clara{
                        display: block;
                    }
                    a{
                        background-color: @color-azul-claro;  
                        color:#1D2124
                    }


                }  

                &:first-child{
                    padding-left: 0;
                } 

                span.seta-azul-clara{
                    display: none;
                }
            }
        }
    }

    .panel-body{
        padding:0;
        background-color: @color-azul-escuro;
        margin-top: -5px;


    }

    table.fundo-azul{
        background-color: @color-azul-escuro;
        padding: 15px;
        width: 100%;

        tr{ border-bottom:2px dotted @color-azul-claro;

            &:last-child{
                border-bottom: none;
            }

            td{
                padding: 10px;
                color: #FFF;
                font-weight: bold;
            }
        }
    }

    thead.cabecalho-tabela{

        font-weight: bold;
        background-color: #dadbdc;
        margin: 0;
        padding: 15px;

        tr{


            td{
                padding: 15px;
                color:@color-azul-escuro;

                a{
                    text-decoration: none;
                    color:@color-azul-escuro;
                }
            }
        }
    }

    form.contato-formulario{
        .form-group{
            border-bottom: none;

            input, textarea{
                border:1px solid;
            }

            .form-control{

                textarea{
                    margin-top: -30px;
                }}

            .btn-azul{ 
                border:1px solid #dadbdc;
                margin-right:25px;
                margin-right: 30px;
                margin-top: -15px;

                p{
                    background-color: @color-azul-claro;

                }}

            .btn span{
                background-color: #dadbdc;
                padding: 8px;
            }
        }

        .fundo-cinsa{
            background-color: #dadbdc;
            padding-left: 25px;
            padding-bottom: 30px;


            input, textarea{
                background-color: #fff;
            }

        }

        .areadetexto{
            margin-top:-50px;
            padding-left: 25px;

            textarea{
                background-color: #fff;
            }
        }
    }

}
