#documentos{
    ul{ padding: 0;
        list-style: none;

        li{margin:25px 0;
            
            a{
                float: left;
                margin-right: 10px;

                .btn, .btn-default, .btnyellow{
                    margin-top: 0;
                    
                    p{
                        min-width: 85px;
                    }
                }
                .btngreen{
                    margin-top: 0;
                    p{
                        background-color: #8cc63f;
                    }
                }
                
            }

            p.desc-arquivo{
                padding-top: 5px;
            }
        }
    }
}