@font-face {
    font-family: 'Gotham-Light';
    src: url('@{font}/Gotham-Light.otf');    
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('@{font}/Gotham-Book.otf');    
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('@{font}/Gotham-Bold.otf');    
}

