#gerar-orcamento{
    .btn, btn-default, .btn-rosa{
        margin-top: 9px;
        p{
            background-color: @color-azul-claro;
        }

    }

    .bg-azul{
        margin: 0;
    }

    .bg-cinsa-menor{
        padding: 5px;
    }
    .bg-cinsa{
        margin-bottom: 15px;
        margin-top: 15px;
        padding: 15px;
        background-color: #e7e8e9;


        h4{
            font-weight: bold;
            font-size: 1.5rem;
        }
    }

    p.desc-hotel{
        padding: 15px;
    }
    .btn span {
        float: left;
        background-color: #ef3e36;
        padding: 9px;
        color:#fff;

    }
    .resultado {
        .nav-tabs {
            border-bottom: 0px;
            margin-top:12px;

            li {
                margin-bottom: 0px;
                margin-right: 6px;
                background-color: #e7e8e9;
                border-radius: 0px;
                border:0;

                a {
                    color: #a7a9ac;
                    font:1.4rem @font-padrao-bold;
                    border-radius: 0px;
                    border: 0;
                    margin: 0;
                    padding: 7px 32px;
                }

                &.active {

                    a {
                        color: #88898c;
                        background-color: #f3f3f4;
                    }
                }

                &:last-child {margin-right: 0px}
            }
        }

        .tab-content {
            border: 2px solid #F3F4F4;
            padding: 12px;
        }

        ul.item {            
            float: left;
            width: 79%;
            background-color: #e7e8e9;
            clear: both;
            margin: 0;
            padding: 0px 15px;
            color:#757679;

            li {
                padding: 10px 0px 10px;
                width: 100%;
                border-bottom: 2px dotted #BDBFC1;
                list-style:none;
                margin:6px 0;
                float:left;

                .logo-cia-aerea {
                    margin: 0px 12px 0px 0px;
                }

                .info {
                    margin:0 19px;

                    p {
                        margin-bottom: 0px;
                        line-height: 17px;
                        font-family: @font-padrao-reg;

                        &:first-child {
                            margin-bottom: 12px
                        }
                    }

                }

                &:last-child {border:0px}

            }
        }

        .total {
            background-color: #092e41;
            margin-top: 0px;
            float: left;
            width: 21%;
            text-align:center;
            border-left:3px solid #5bc9d1;
            color: #fff;
            overflow: hidden;
            padding:18px 0;

            h3 {
                color: #fff;
                font:1.6rem @font-padrao-bold;
            }


            p.price {
                margin: 20px 0;
                font-size: 2rem;                                
            }

            p.obs {
                width: 62%;
                margin: 30px auto 10px;
                font-size: 1.1rem;
                color: #2CBFC9;
            }

            .btnred {

                float:none;

                p {
                    background-color: #ef3e36;                                      
                }

                .glyphicon {
                    color: #fff;
                    font-size: 1.7rem;
                    padding: 7px 8px;
                }
            }
        }

    }

    table.bg-cinsa{
        width: 100%;
        thead{
            tr{
                td{
                    font-weight: bold;
                    border:none;
                    
                }
            }
        }

        tr{

            td{
                border-left: 1px solid #fff;
                text-align: center;
                border-top: 2px solid #fff;
                
                &:first-child{
                    border-left: none;
                }
            }
        }

    }
    .input-data{
        input{
            width: 100%;
        }
    }
    
    .titulo-azul{
        label{
            font-weight: bold;
        }
    }
    .opcao-de-pagamento{
        h5{
            font-weight: bold;
            color:#ef3e36;
            font-size: 1.8rem;
        }
        h6{
            font-size: 1.5rem;
        }
    }
}