.destaquemotor {
    background:@bgbox;   
    float: left;
    width: 100%;
    padding: 0px 0px 25px;
    
    .container {
        max-width: 1170px;
    }
    
    #carousel-motor {
        .carousel-indicators {            
            bottom: -35px;
            left: 28%;
            
            li {
                background-color: #6D6E71;
                border: 1px solid #6D6E71;                                
            }
            .active {
                background-color: #218f80;
                border-color: #218f80;
                width: 10px;
                height: 10px;
                margin: 1px
            }
        }
        
        .carousel-inner {
            .item {
                img {
                    width: 100%;
                    height: 466px;
                }
            }
        }
    }
}

#motor {
    width: 100%;
    background: rgba(8, 33, 59, 0.8);
    position: absolute;
    top: -435px;
    color: #FFF;
    margin-left: 527px;
    z-index: 2;
    
    .nav-tabs {        
        background-color:#fcb040;
        border-bottom: 4px solid #f5ee30;
        
        li {
            border:0px;
            padding:3px 0px 5px;
            
            a {                                
                .rounded(0px);
                color: #083b67;
                font-family: @font-padrao-reg;
                font-size:1.4rem;
                border:0;
                border-right: 1px solid #db9630;
                height: 30px;
                padding: 9px 39px;
                
                
                &:hover {background-color: transparent}
            }
            
            &:last-child {
                a {
                    border-right: 0px
                }
            }
            
            &.active {
                a {
                    background-color: transparent;
                                        
                    
                    .markcircle {
                        background-color: transparent;
                    }
                    
                    
                }
            }
        }
        .markcircle {
            width: 14px;
            height: 14px;
            background-color: #fff;
            border-radius: 100%;
            float: left;
            margin: 2px 9px 0px 0px;
            border: 2px solid #FFF;
        }
    }
    
    .body {
        padding: 25px 34px 5px;
        
        form {
            .row {
                margin: 0px -15px 20px;
            }
            .col-md-3 {
                padding: 3px;                                
            }
            
            label {
                    font-family:@font-padrao;
                    font-size: 1.3rem;
            }
                
           .form-group {
                    width: 100%;
                    
                    .form-control {
                        width: 100%;
                        background-color: #d9d9e0;
                        border:0;
                        .rounded(0px);
                        height: 31px;
                        padding: 6px;
                        font-size: 1.1rem;
                    }
            }
            
            input[type=radio], input[type=checkbox] {
                margin-top: 2px;
            }
            
            .cotacao {
                float:left;
                
                p {
                    float: left;
                    clear: none;
                    font-family:@font-padrao-reg;
                    margin: 32px 12px 0px 0px;
                    font-size: 1.3rem;
                }
            }
            
            .btnyellow {
                float:right;
                margin-top:23px;                               
               
                p {
                    padding: 5px 13px;
                    font: 1.5rem @font-padrao-reg;                    
                }
                span {
                    padding: 7px 10px;
                    color: #FFF;
                    height: 30px;
                    margin-top: -2px;
                }
                                
            }
            
            
        }
    }
}