#hotel {
    
    .sidebarfiltro {
        .stars {
            float: left;
            width: 100%;
            clear: both;
            margin: 10px 0;
        }
    }
    
    .comparar {
        background-color: #e7e8e9;
        margin: 13px 0 2px;
        
        .head {
            float: left;
            width: 100%;
            padding:12px 15px;
            background-color: #092E41;
            
            
            h3 {
                color: #fff;
                font:1.7rem @font-padrao-bold;
                float: left;
                margin: 6px 0 0;
                
            }
            
            button {
                float: right;
                margin: 0;
                
                p {
                    background-color: #2cbfc9;                    
                    padding: 6px;
                }
            }
        }
        
        .body {
            padding: 15px;
            clear: both;
            float: left;
            width: 100%;
            
            form {
                .form-group {
                    .form-control {
                        display: block;
                        width: 100%;
                    }
                }
                
                button {
                    height:32px;
                    
                    p {
                        padding: 10px 0px;
                        width: 71px;
                        font-size: 1.3rem;
                    }
                    span {
                        color: #fff;
                        padding: 9px;
                    }
                    
                    &.btnyellow {
                        margin-top:33px;                        
                    }
                    &.btnred {
                        p {
                            background-color: #bf1e2d;          
                        }                                      
                    }
                }
                
                label.namecity {
                    margin-top: 32px;
                }
                
            }
        }
    }
    
    .resultado {
        
        ul.item {
            width:100%;
            background:transparent;
            margin: 0px;
            padding:0;
            
            li {
                background-color: #e7e8e9;
                border:0;
                padding:0px;
                
                .imagem {
                    
                    padding: 20px 0 0 15px;
                    width: 38%;
                    
                }
                
                .info  {
                    padding: 20px 0 0 0px;
                    width: 38%;
                    margin: 0px 0px 0px 14px;
                    
                    h2 {
                        font: 1.7rem @font-padrao-reg;
                        font-weight: 600;
                        margin: 5px 0px 15px;
                        color: #939598;
                    }
                    
                    p {
                        color: #989a9d;
                        font-size: 1.5rem;
                    }
                    
                    .classificacao {
                        float: left;
                        width: 100%;
                        margin:10px 0;
                        
                        p {
                            float: left;
                            font:1.5rem @font-padrao-bold;
                            margin: 9px 12px 0 0;
                            width: 33%;
                            
                            &.green {
                                color: #8cc63f;
                            }
                            &.red {
                                color: #911b26;
                            }
                        }
                    }
                    
                    a {
                        font: 1.5rem @font-padrao-reg;
                        color: #56bae3
                    }
                    
                    .text-content {
                        clear:both;
                        p {
                            font-size: 1.3rem;
                        }
                    }
                }
                
                .total {
                    width: 22%;
                    margin: 0;
                    
                    p.obs {
                        width: 80%;
                        margin: 48px auto 3px;                        
                        font-size: 1.2rem;
                    }
                    
                    button {
                        margin-top: 5px;
                    }
                    
                }
                
            }
        }
        
        
        
    }
    
    
    
}

