#orcamentos{
    .head{
        .bg-azul{

            .glyphicon-edit, .glyphicon{
                float: left;
                font-size: 25px;
                color: #fff;
                padding: 10px;
                margin-left: 10px;
            }
        }
    }

    .orcamentos-busca{
        .btn span{
            padding: 9px;
            color:#fff;
        }

        .btn{
            margin-top: 25px;
            height: 37px;
        }

        .btnyellow{
            p{
                padding: 6px 15px;
            }
        }

        .fundo-cinsa{
            background-color: #dadbdc;
            padding: 10px 10px 0 20px;

            label{
                font-weight: bold;
            }
        }
    }

    .result-orcamento{
        .cabecalho-tabela{
            background-color: #f9f9f9;
        }

        tr{
            td{
                border-top:3px solid #fff;
                
                &:last-child{
                    float: right;
                    padding-right: 35px;
                }
            }


        }


    }

    .paginacao-orcamento{
        width: 260px;
        margin: 0 auto;

        ul{
            li{
                &{
                    border-radius: 5px;
                }
                a{
                    /*                    background-color: #f9f9f9;*/
                    font-family: @font-padrao-bold;
                    background-color: #dadbdc;
                    color:#3B3C3D;
                    border-radius: 45px;
                    margin: 0 3px;
                    
                    
                }
                &:last-child{
                       a{ background-color: #fff;
                        color:#dadbdc;
                       border: none;
                       font-size: 26px;
                       padding: 2px 5px 0 5px;}
                    }

            }
        }

        .active{
            a{
                background-color: @color-rosa;
                border: none;
                color:#fff;
            }
        }
    }
}
