#quem-somos{
    .bg-azul{
        h3{
            text-transform: uppercase;
        }
    }
    .text-content{
        &{
            margin-top: 15px;
        }
        
         p{
        text-align: justify;
    }
    
    ul{
        list-style: none;
        padding-left: 0;
    }
    }
    
    strong{
        font-style: italic;
    }
    
    h3{
        strong{
            font-size: 1.5rem;
            text-transform: uppercase;
            font-style: normal;
        }
    }
}

