/*  RESPONSIVE
    -------------------------------------------------------------*/
/* Large desktop */
@media (min-width: 1026px)and (max-width: 1045px)  {    
    #header .navbar-inverse .navbar-collapse .menu li {margin: 0 7px 0}
    #home .destaquemotor #carousel-motor .carousel-inner .item img {height: 380px}
    
    #motor {height: auto; top:-368px; margin-left: 443px}
    #motor .body form .row {margin: 0px -15px 10px}
    #motor .nav-tabs li a {padding: 9px 26px}
    #motor .body form .col-md-3 label {font-size: 1.1rem}
    #motor .body form .cotacao p {margin-top: 25px}
    #motor .body form .btnyellow {margin-top:10px}
    
    .resultbusca .sidebarfiltro .sliderjq .bgslider {width: 82%}
    .resultbusca .sidebarfiltro .boxtitle p {font-size: 1.5rem}
    
    #footer .newsletter p.title {max-width: 58%; margin-left: 0; font-size: 1.3rem;}
    #footer .fones {width: 90%}
    #footer .fones p {margin: 0 14px}
    
    .cvg.iconnews {background-position: -287px -4px; margin: 0px 18px 0px 42px;}
    .cvg.menuresultcvg.setapont {background-position: -389px -257px; width: 125px; margin: 0; }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    #header .logo {margin-left: 0px}
    #header .navbar-inverse .navbar-collapse .menu li {margin: 0px 3px 0 0}
    
    #home .destaquemotor #carousel-motor .carousel-inner .item img {height: 318px}
    #motor {height: auto; background: rgba(8, 33, 59, 0.8); position: relative; top:0px; margin: 58px 0px; }
    #motor .nav-tabs li a {padding: 9px 65px}
    
    .resultbusca .sidebarfiltro .boxtitle {padding-left: 12px}
    .resultbusca .resultado ul.item li .info {margin: 0 7px}
    .resultbusca .resultado ul.item li .logo-cia-aerea {margin: 0px 12px 13px 0px}
    .resultbusca .resultado ul.item li .info.clear {clear: both}
    .resultbusca .resultado ul.item li .info p {font-size: 1.3rem}
    .resultbusca .resultado ul.item {width: 75%}
    .resultbusca .resultado .total {width: 25%}
    
    #hotel .comparar .body form button.btnyellow {float: right; margin-top: 0}
    #hotel .comparar .head h3 {width: 53%}
    #hotel .comparar .head button {margin-top:10px}
    #hotel .resultado ul.item li .imagem {width: 60%}
    #hotel .resultado ul.item li .info {width:57%}
    #hotel .resultado ul.item li .total {width: 40%; margin-top: 22px}
    #hotel .resultado ul.item li .info .classificacao p {margin-right: 0px}
    .resultbusca .sidebarfiltro .sliderjq .bgslider {width: 83%}
    
    
    #footer .newsletter p.title {max-width: 70%; margin-left: 0; font-size: 1.3rem; }
    #footer .newsletter form {width: 100%}
    #footer .newsletter form .form-control {width: 164px;}
    #footer .fones {width: 100%;}
    #footer .fones p {margin: 0 4px}

    .cvg.iconnews {margin-left: 0px}
    .cvg.menuresultcvg.setapont{background-position: -461px -257px; width: 51px; margin: 0px 0px;}}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    
    body, html { overflow-x: hidden; /* Prevent scroll on narrow devices */}
    #header .navbar-inverse .navbar-collapse  { border-bottom: 1px solid #c1c3c5;  border-color: #c1c3c5;}
    #header .navbar-inverse .navbar-collapse .menu {float: left}
    #header .navbar-inverse .navbar-collapse .menu li {width: auto; margin: 0; clear: both;}
    #header .navbar-inverse .navbar-collapse .menu li a p {font-size: 1.3rem; color: #333;}    
    #header .login form, #header .login .logado input {width: 100%}
    #header .login .logar .form-group {width: 46%; float: left;}
    #header .login .logar .form-group input {width: 97%;}
    #header .login .logar button {padding: 11px}
    #header .login .logado .name {width: 88%; float: left;}
    #header .login .logado .name label {margin: 4px 8px 0px 0px; padding-top: 20px; float: right;}
    
    #home .destaquemotor #carousel-motor .carousel-inner .item img {height: 222px}
    
    #motor {height: auto; background: rgba(8, 33, 59, 0.8); position: relative; top:0px; margin: 58px 0px; }
    #motor .nav-tabs li a {border-right: 0px; padding: 9px 20px}
    #motor .body form .cotacao p {clear: both; margin: 3px 0}
    #motor .body form .btnyellow {margin-top: 58px}
    
    .resultbusca .head .menuresult li {margin: 0px 8px 10px}
    .resultbusca .resultado .nav-tabs li a {padding: 7px 34px}
    .resultbusca .resultado ul.item, .resultbusca .resultado .total {width: 100%;}
    .resultbusca .resultado .total {width: 100%; position: relative; top: -12px; margin-top: 0; border:none;}
    .resultbusca .resultado ul.item li {padding: 15px 0 10px}
    .resultbusca .resultado ul.item li .info {margin: 8px 0px; width: 50%;}
    .resultbusca .resultado ul.item li .info.clear {clear: both}
    .resultbusca .resultado ul.item li .info p {font-size: 1.2rem}
    .resultbusca .resultado .total p.price {margin: 0px}
    .resultbusca .resultado .total p.obs {margin: 18px auto 0px}
    
    .resultbusca .sidebarfiltro .sliderjq .bgslider { width: 86%; margin: 28px 0 0 -3px;}
    .resultbusca .sidebarfiltro form .form-group .form-control {font-size: 1.3rem; padding-left: 0px;    }    
    .resultbusca .sidebarfiltro .sliderjq input {font-size: 1.4rem}   
    .resultbusca .sidebarfiltro form label {font-size: 1.5rem}
    
    #hotel .resultbusca form .form-group {padding-bottom: 0}
    #hotel .comparar .head h3 {width: 30%; font-size: 1.4rem;}
    #hotel .comparar .head button {margin-top: 21px}
    #hotel .comparar .head button p {font-size: 1.3rem;padding: 9px 4px;}
    #hotel .comparar .body form button.btnyellow {margin-top: 0px; float: right}
    #hotel .resultado ul.item li .imagem {width: 94%}
    #hotel .resultado ul.item li .info {width: 90%}
    #hotel .resultado ul.item li .total {width: 100%}
    #hotel .resultbusca .resultado .total h3 {margin: 0}
    #hotel .resultado ul.item li .total p.obs {margin-top: 14px}
    #hotel .resultbusca .resultado .total h3 {margin: 0 0 6px}
                
    .cvg.iconnews {margin-left: 0px; top:0}    
    .cvg.setagray {display: none} 
    .cvg.menuresult.setapont {background-position: -414px -257px; width: 101px;}
    
    #footer .newsletter {padding: 15px 0}
    #footer .newsletter p.title {max-width: 66%}
    #footer .newsletter form label {margin-top: 15px}
    #footer .newsletter form .pull-left, #footer .newsletter form .pull-left .form-control {width: 100%}     
    #footer .newsletter form button {float: right}
    #footer .fones {width: 100%}
    #footer .fones .pull-left {margin: 13px 28px 0px 0px;}
    #footer .fones p {text-align: left; margin: 0px}
    
    
    .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -70%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 70%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 75%; /* 6 columns */
  }

}
@media (min-width: 600px) and (max-width: 700px){
    #header .login .logar .form-group {width: 47%;}
    #header .login .logado .name {width: 91%;}
    
    .resultbusca .sidebarfiltro .sliderjq .bgslider { width: 87%; margin: 29px 0 0 -3px;}
    #hotel .comparar .head h3, .resultbusca .resultado .total p.obs {width: 100%}
    #hotel .comparar .head button {margin-top: 0}
    #hotel .resultado ul.item li .imagem {width: 33%}
    #hotel .resultado ul.item li .info {width: 39%}
    #hotel .resultado ul.item li .total {width: 25%}   
    #hotel.resultbusca .resultado .total .btnred p {font-size: 1.3rem; padding: 8px 7px}
    
    .sidebar-offcanvas {width: 72%}
    
    #footer .fones .pull-left {clear: none}
   
}
/* Landscape phones and down */
@media (max-width: 480px) {
   
    #header .login .logar .form-group {width: 44%; float: left;}        
    #header .login .logado .name {width: 82%; float: left;}    
    #header .login .logado button {float: right}
    
    #home .destaquemotor #carousel-motor .carousel-inner .item img {height: 165px}
    #motor .nav-tabs li a {padding: 9px 39px} 
    
    .resultbusca .sidebarfiltro .sliderjq .bgslider { width: 81%; margin: 50px 0 0 -3px;}
}

