#roteiros{
    .bg-azul{
        h3{
            font-weight: bold;
        }
    }

    .sidebarfiltro {
        .boxtitle {
            padding: 10px 0px 15px 45px;
        } 

        .btn, .btn-default, .btnyellow{
            span{
                padding: 9px;
                color:#fff;

            }
        }

        form.form-roteiro{
            .form-group{
                border-bottom: none;
            }

            .mes{
                border-top: 2px dotted;
                padding-top: 20px;
            }
        }
    }

    .roteiro-single{
        margin-top: 23px;

        img{
            width: 100%;
            padding-right: 14px;  
            display: block;
        }

        .transparent{
            opacity: 0.8;
            margin-right: 15px;
            margin-top: -203px;


            h3{
                font-weight: bold;
                opacity: 9;
                padding: 6px;
            }
        }

        .confira-rosa{
            background-color: @color-rosa;
            padding: 5px 0;
            margin-top: 105px;
            a{
                color:#fff;
                font-weight: bold;
            }

        }
    }

}