#servicos{


    .titulo {
        background-color: #e7e8e9;
        margin: 13px 0 2px;

        .head {
            float: left;
            width: 100%;
            padding:12px 15px;
            background-color: #092E41;


            h3 {
                color: #fff;
                font:1.7rem @font-padrao-bold;
                float: left;
                margin: 6px 0 0;

            }

            button {
                float: right;
                margin: 0;

                p {
                    background-color: #2cbfc9;                    
                    padding: 6px;
                }
            }
        }
    }
        .body {
            padding: 15px;
            clear: both;
            float: left;
            width: 100%;

            form {
                
                .titulo-azul{
                    label{
                        font-family: @font-padrao-bold;
                        color:#2cbfc9;
                    }
                }

               
                .form-group {
                    &{
                        padding: 5px 0 13px;
                    }
                    .form-control {
                        display: block;
                        width: 100%;
                    }

                    label{
                        padding-right: 0;
                        padding-top: 7px;
                        font-family: @font-padrao-bold;
                    }
                }

                button {
                    height:32px;

                    p {
                        padding: 10px 0px;
                        width: 71px;
                        font-size: 1.3rem;
                    }
                    span {
                        color: #fff;
                        padding: 9px;
                    }

                    &.btnred {
                        p {
                            background-color: #bf1e2d;          
                        }                                      
                    }
                }

                label.namecity {
                    margin-top: 32px;
                }

            }
        }
    


}



