
/*  SPRITES
    ---------------------------------------------------------*/
.cvg{
    background-image: url('@{img}/cvg.png'); 
    background-repeat: no-repeat;
    display: block;

    &.iconsmenu {
        width: 61px;
        height: 62px;
        margin: 4px auto;

        &.home {
            background-position: -15px -105px;

            &:hover, &.active  {
                background-position:-17px -183px;
            }
        }

        &.roteiros {
            background-position: -389px -106px;

            &:hover, &.active {
                background-position:-110px -182px;
            } 
        }
        &.cadastroag  {
            background-position: -12px -447px;
          &:hover, &.active  {
            background-position: -75px -447px;
          }
        }
        &.docs {
            background-position: -296px -105px;

            &:hover, &.active  {
                background-position:-298px -183px;
            } 
        }
        &.contatos {
            background-position: -482px -105px;

            &:hover, &.active  {
                background-position:-484px -183px;
            } 

        }
        &.bancolaminas {
            background-position: -576px -105px;

            &:hover, &.active  {
                background-position:-578px -183px;
            } 
        }
        &.icoquemsomos {
            background-position: -576px -105px;

            &:hover, &.active  {
                background-position: -391px -183px;
            }
        }

    }

    &.chevron-right-submit {
        background-position: -656px -115px;
        width: 9px;
        height: 12px;
        padding: 0;
    }

    &.iconnews {
        background-position: -286px -3px;
        width: 61px;
        height: 61px;
        float: left;
        position: relative;
        top: -30px;
        margin-left: 58px;
        border: 5px solid #FFF;
        border-radius: 100%
    }

    &.iconsubmitnews {
        background-position: -666px -110px;
        width: 21px;
        height: 21px;        
    }
    &.fone {
        background-position: -444px -11px;
        width: 38px;
        height: 38px;
        float: left;
    }
    &.setagray {
        background-position: -709px -113px;
        width: 12px;
        height: 19px;
        float: left;
        margin-top: 8px;  
    }
    &.logofrtbase {
        background-position: -672px -148px;
        width: 85px;
        height: 25px;
        margin: 18px auto 0;
    }

    &.menuresultcvg {
        width: 78px;
        height: 78px;
        margin:0 auto;

        &.aereo {
            background-position:-10px -367px;            
            &:hover, &.active {
                background-position: -10px -257px;
            }
        }
        &.hotel {
            background-position:-100px -367px;
            &.active {
                background-position: -100px -257px;
            }
        }
        &.servicos {
            background-position:-190px -367px;
            &.active {
                background-position: -190px -257px;
            }
        }
        &.orcamento {
            background-position:-277px -367px;
            &.active {
                background-position: -277px -257px;
            }
        }
        &.setapont {
            background-position: -378px -257px;
            width: 136px;
            margin: 0 9px;
        }
    }
    &.iconlist {
        background-position: -672px -172px;
        width: 36px;
        height: 36px;
        float: left;
    }
    &.setaazul {
        background-position: -672px -211px;
        width: 22px;
        height: 21px;
        position: absolute;
        top: 105px
    }
    &.starlarge {
        width:37px;
        height: 38px;
        float: left;

        &.star {
            background-position: -495px 2px;
        }
        &.starempty {
            background-position: -495px -52px;
        }
    }
    &.starsmall {
        width:27px;
        height: 30px;
        float: left;

        &.star {
            background-position: -556px -58px;
        }
        &.starempty {
            background-position: -582px -58px;
        }
    }

    &.iconmapa {
        background-position: -736px -180px;
        width: 20px;
        height: 20px;
    }


    &.pasta{
        background-position: -595px -8px;
        width: 33px;
        height: 30px;
        float: left;
        margin: 6px;
    }
    &.pessoas{
        background-position: -550px -8px;
        width: 33px;
        height: 30px;
        float: left;
        margin: 7px;
    }

    &.seta-azul-clara {
        background-position: -643px -13px;
        width: 29px;
        height: 17px;
        position: absolute;
        top: 40px;
        left: 15px;
    }
    &.contato{
        background-position: -681px -8px;
        width: 33px;
        height: 30px;
        float: left;
        margin: 7px;
    }
    &.cvg-documento{
        background-position: -681px -8px;
        width: 33px;
        height: 30px;
        float: left;
        margin: 7px;
    }
    &.cvg-orcamento{
        background-position: -681px -8px;
        width: 33px;
        height: 30px;
        float: left;
        margin: 7px;
    }
    &.cvg-baixar{
        background-position: -661px -58px;
        width: 33px;
        height: 30px;
        float: left;
        margin: 0px;
    }
    &.cvg-acessar{
        background-position: -693px -58px;
        width: 33px;
        height: 30px;
        float: left;
        margin: 0px;
    }

    &.camera{
        background-position: -728px -8px;
        width: 33px;
        height: 30px;
        float: left;
        margin: 3px 6px 6px 6px;
    }
    &.camera-rosa{
        background-position: -771px -19px;
        width: 26px;
        height: 19px;
        float: left;
        margin-left: 5px ;
        margin-right: 5px ;
        margin-top: 2px;
    }
}
