
/*  ESTRUCTURE
    ---------------------------------------------------------*/
body{           
    font-family: @font-padrao; 
    padding-top: 0px;
    font-size: 14px; 
    color:@color-texto-padrao;    
    
    a, a:hover {
        text-decoration: none;
    }
    
    b, strong {
       font-family: @font-padrao-bold; 
       font-weight: 500;
    }
}

.container {
    max-width: 1110px;
}


/*  HEADER
    ---------------------------------------------------------*/

#header {
    .logo {
        margin:30px 0px 0px 30px;
    }
    
    .navbar-inverse {
        border:0;
        border-radius: 0px;
        background:transparent;
    
        .navbar-collapse {
            padding: 0;            

            .menu {
                .ul-reset;
                float:right;
                padding-top:15px;

                li {
                    width: 75px;
                    margin:0px 28px 0 0;
                    a {
                        color:@color-texto-padrao;
                        padding:0;
                        
                        p {
                            text-align: center;
                            font-size: 1.2rem;
                            line-height: 13px;
                        }
                    }

                    &:last-child {margin-right: 0}
                }
            }
        }
        
        .navbar-toggle {
            background-color: #123562;
            float: left;
        }
    }
    
    .login {
        background:@bgbox;
        padding:18px 0px 11px;
    
        form {
            float: right;
        }

        input, button {
            font-family: @font-padrao-bold;
            border-radius: 0px;
            border:2px solid #fff;
            background-color: transparent;                        
        }


        .logar  {
            button { 
                background-color: #818285;
                padding: 10px 13px;
                border: 0;   
                margin-top: 2px;
            }
        }

        .logado {
            input, label {
                font-family: @font-padrao-reg;            
            }

            input {
                margin-top: 6px;
                width: 310px;
            }
            
            .name {
                label {
                   margin: 25px 5px 0px 41px;
                   font-size: 1.3rem;
                }
            }

            button {
                background-color: #ef3e36;
                color: #fff;
                border: 0;
                margin: 6px 0px 0px ;
                padding: 4px 9px;
            }
        }
    
    }   
    
}

#footer {
    
    .newsletter {
        background-color: #dadbdc;        
        float: left;
        width: 100%;
        padding:15px 0 5px;
        margin:8px 0px 45px;
        
        p.title {            
            max-width:56%;
            text-align: right;
            float: left;
            margin-left: 30px;          
        }
        
        
        form {
            float: left;                                        
            
            label {
                color: @color-texto-padrao;
                font-family:@font-padrao;
                line-height: 16px;                                                               
            }

            .form-control {
                display: block!important;
                background-color: #c1c3c5;
                border-color: #fff;
                border-radius: 0px;
                height: 31px;
                margin-right: 12px;
                width: 232px;
                
            }
                       
        }
    }
    
    .fones {
        width:82%;
        p {
            color: #3B3C3D;
            text-align: center;
            font-size: 1.2rem;
            margin: 0 20px;                        
        }
    }
    
    .info {
        margin: 30px 0;
        float:left;
        width:100%;
        
        p {
            font-size: 1.2rem;
            text-align: center;
            margin: 0
        }
    }
    
    
    .topo{
        float: right;
        margin: 0px 16px 7px 0px;
        background: #CCC;
        border-radius: 4px;
        padding: 6px 12px;
        text-align: center;
        
        .glyphicon {            
            color:#333;                                    
        }
                
        &:hover {
            background:#333;
            
            .glyphicon {            
                color:#ccc;                                    
            }
        }
    }
}

